TP_FITS/
Ohashi_ALMA_project_TP_maps_YS_20230807.pdf
Ohashi_ALMA_project_TP_maps_YS_20230807.pptx
ALMA_TP_C18O_SHIMAJIRI.pptx
Cube_moment_fits/
moment_maps_fits/
Figures/
.DS_Store
do-not-save/
pvcuts/